html {
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a {
  text-decoration: none;
}

.header-title {
  font-size: 24px
}

.header-container-one {
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-around
}

.cart-notif {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0px;
  position: absolute;
  width: 17px;
  height: 17px;
  line-height: 16px;
  text-align: center;
  background-color: #ffa9ce;
  color: white;
  top: 17px;
  right: 2px;
  border-radius: 50%;
}
.header {
  padding-left: 36px;
  padding-right: 36px;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 400;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out 0s;
  box-shadow: 0 4px 12px rgba(0,0,0,.08), 0 0 1px rgba(1,0,0,.1);
}

@media (max-width: 500px) {
  .header-title {
    font-size: 18px
  }

  .header {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.header-inner {
  display: flex;
  margin: 0 auto;
  min-height: 72px;
  position: relative;
  -webkit-transition: min-height 0.2s ease-in-out;
  transition: min-height 0.2s ease-in-out;
  width: 100%;
  justify-content: space-between;
}

.order-submit {
  -webkit-appearance: none;
  background-color: #ff569e85;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  width: 35%;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 14px 20px;
  transition: background-color 0.25s ease-in-out 0s;
}

.order-submit[disabled] {
  background-color: rgb(236, 237, 239);
  cursor: not-allowed;
}

.onboarding-svg {
  height: 41vh;
}

.onboarding-parent {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0, #654ea342, #eaafc885);
}

.onboarding-step-parent {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: center;
}

.onboarding-content-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onboarding-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 375px;
}

.onboarding-fade-in {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.onboarding-progress {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 15px;
}

.no-pad {
  padding: 0
}

.landing-parent {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.landing-content {
  flex: 1;
}

.landing-svg {
  flex: 2;
}



@media (max-height: 400px) {
  h1 {
    font-size: 18px
  }
  p {
    font-size: 12px;
  }
  .onboarding-svg {
    height: 30vh;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px
  }
  .onboarding-svg {
    max-width: 90vw;
  }
  .zero {
    margin-top: 5vh;
  }
}

@media (min-width: 600px) {
  .fab {
    background-color: #ffa9ce;
  }
  .onboarding-parent {
    padding: 0;
  }
  .onboarding-step-parent {
    flex-direction: row;
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .onboarding-svg-parent {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .onboarding-content-parent {
    margin-top: 40px;
    background-color: white;
    flex: 2;
    height: 100%;
    margin: 0;
    align-items: default;
  }
  .onboarding-content {
    padding-bottom: 40%;
    flex: 1;
  }
  .onboarding-fade-in {
    height: 100%;
  }
  .onboarding-svg {
    padding-bottom: 20%;
    height: 450px;
  }

  .onboarding-progress {
    padding-top: 30px
  }
}